In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, StandardScaler
from scipy.stats import skew, kurtosis
df = pd.read_csv('datacleaning.csv')

In [ ]:
print("Initial Data:")
print(df.info())
print(df.head(11))

Initial Data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            11 non-null     int64
 1   Name          10 non-null     object
 2   Age           10 non-null     float64
 3   Gender        11 non-null     object
 4   Salary        10 non-null     float64
 5   Joining_Date  10 non-null     object
 6   Department    11 non-null     object
dtypes: float64(2), int64(1), object(4)
memory usage: 748.0+ bytes
None
    ID     Name   Age   Gender   Salary Joining_Date Department
0    1    Alice  25.0   Female  50000.0   2021-06-01         HR
1    2      Bob  30.0     Male  60000.0   2020-07-15         IT
2    3  Charlie   NaN        M  70000.0   2019/08/20         HR
3    4    David  40.0     Male      NaN   2022-05-30    Finance
4    5      Eve  22.0   Female  55000.0   01-01-2018         IT
5    6    Frank  35.0        F  72000.0   2017-03-22         IT
6    6    Frank  35.0     Male  72000.0   2017-03-22         IT
7    7    Grace  29.0        F  49000.0          NaN         HR
8    8    Henry  50.0     Male  80000.0   2016-12-11    Finance
9    9      NaN  31.0  Unknown  57000.0   2023-02-05    Unknown
10  10      Ivy  -5.0   Female  52000.0   2015-09-27         HR

In [ ]:
# Handling missing values
num_imputer = SimpleImputer(strategy="mean")  # For numerical columns
cat_imputer = SimpleImputer(strategy="most_frequent")  # For categorical columns

In [ ]:
for col in df.select_dtypes(include=['number']).columns:
    df[col] = num_imputer.fit_transform(df[[col]])
for col in df.select_dtypes(include=['object']).columns:
    # Use df[col] to get a Series instead of df[[col]] to get a DataFrame
    df[col] = cat_imputer.fit_transform(df[col].values.reshape(-1, 1))[:, 0]

In [ ]:

# Display data after handling missing values
print("\nData after handling missing values:")
print(df.info())
print(df.head(11))

Data after handling missing values:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            11 non-null     float64
 1   Name          11 non-null     object
 2   Age           11 non-null     float64
 3   Gender        11 non-null     object
 4   Salary        11 non-null     float64
 5   Joining_Date  11 non-null     object
 6   Department    11 non-null     object
dtypes: float64(3), object(4)
memory usage: 748.0+ bytes
None
      ID     Name   Age   Gender   Salary Joining_Date Department
0    1.0    Alice  25.0   Female  50000.0   2021-06-01         HR
1    2.0      Bob  30.0     Male  60000.0   2020-07-15         IT
2    3.0  Charlie  29.2        M  70000.0   2019/08/20         HR
3    4.0    David  40.0     Male  61700.0   2022-05-30    Finance
4    5.0      Eve  22.0   Female  55000.0   01-01-2018         IT
5    6.0    Frank  35.0        F  72000.0   2017-03-22         IT
6    6.0    Frank  35.0     Male  72000.0   2017-03-22         IT
7    7.0    Grace  29.0        F  49000.0   2017-03-22         HR
8    8.0    Henry  50.0     Male  80000.0   2016-12-11    Finance
9    9.0    Frank  31.0  Unknown  57000.0   2023-02-05    Unknown
10  10.0      Ivy  -5.0   Female  52000.0   2015-09-27         HR

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
print("\nData after removing duplicates:")
print(df.info())
print(df.head(11))

Data after removing duplicates:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            11 non-null     float64
 1   Name          11 non-null     object
 2   Age           11 non-null     float64
 3   Gender        11 non-null     object
 4   Salary        11 non-null     float64
 5   Joining_Date  11 non-null     object
 6   Department    11 non-null     object
dtypes: float64(3), object(4)
memory usage: 748.0+ bytes
None
      ID     Name   Age   Gender   Salary Joining_Date Department
0    1.0    Alice  25.0   Female  50000.0   2021-06-01         HR
1    2.0      Bob  30.0     Male  60000.0   2020-07-15         IT
2    3.0  Charlie  29.2        M  70000.0   2019/08/20         HR
3    4.0    David  40.0     Male  61700.0   2022-05-30    Finance
4    5.0      Eve  22.0   Female  55000.0   01-01-2018         IT
5    6.0    Frank  35.0        F  72000.0   2017-03-22         IT
6    6.0    Frank  35.0     Male  72000.0   2017-03-22         IT
7    7.0    Grace  29.0        F  49000.0   2017-03-22         HR
8    8.0    Henry  50.0     Male  80000.0   2016-12-11    Finance
9    9.0    Frank  31.0  Unknown  57000.0   2023-02-05    Unknown
10  10.0      Ivy  -5.0   Female  52000.0   2015-09-27         HR

In [ ]:
# Handling outliers using IQR for numerical features only
numerical_cols = df.select_dtypes(include=['number']).columns

Q1 = df[numerical_cols].quantile(0.25)
Q3 = df[numerical_cols].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Filter outliers only for numerical features
df = df[~((df[numerical_cols] < lower_bound) | (df[numerical_cols] > upper_bound)).any(axis=1)]

In [ ]:
print("\nData after handling outliers:")
print(df.info())
print(df.head(11))

Data after handling outliers:
<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 0 to 9
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            9 non-null      float64
 1   Name          9 non-null      object
 2   Age           9 non-null      float64
 3   Gender        9 non-null      object
 4   Salary        9 non-null      float64
 5   Joining_Date  9 non-null      object
 6   Department    9 non-null      object
dtypes: float64(3), object(4)
memory usage: 576.0+ bytes
None
    ID     Name   Age   Gender   Salary Joining_Date Department
0  1.0    Alice  25.0   Female  50000.0   2021-06-01         HR
1  2.0      Bob  30.0     Male  60000.0   2020-07-15         IT
2  3.0  Charlie  29.2        M  70000.0   2019/08/20         HR
3  4.0    David  40.0     Male  61700.0   2022-05-30    Finance
4  5.0      Eve  22.0   Female  55000.0   01-01-2018         IT
5  6.0    Frank  35.0        F  72000.0   2017-03-22         IT
6  6.0    Frank  35.0     Male  72000.0   2017-03-22         IT
7  7.0    Grace  29.0        F  49000.0   2017-03-22         HR
9  9.0    Frank  31.0  Unknown  57000.0   2023-02-05    Unknown

In [ ]:
encoder = LabelEncoder()
for col in df.select_dtypes(include=['object']).columns:
    df[col] = encoder.fit_transform(df[col])

<ipython-input-20-f9967e25ad4d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = encoder.fit_transform(df[col])
<ipython-input-20-f9967e25ad4d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = encoder.fit_transform(df[col])
<ipython-input-20-f9967e25ad4d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = encoder.fit_transform(df[col])
<ipython-input-20-f9967e25ad4d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = encoder.fit_transform(df[col])

In [ ]:
print("\nData after encoding categorical variables:")
print(df.info())
print(df.head(11))

Data after encoding categorical variables:
<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 0 to 9
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            9 non-null      float64
 1   Name          9 non-null      int64
 2   Age           9 non-null      float64
 3   Gender        9 non-null      int64
 4   Salary        9 non-null      float64
 5   Joining_Date  9 non-null      int64
 6   Department    9 non-null      int64
dtypes: float64(3), int64(4)
memory usage: 576.0 bytes
None
    ID  Name   Age  Gender   Salary  Joining_Date  Department
0  1.0     0  25.0       1  50000.0             4           1
1  2.0     1  30.0       3  60000.0             3           2
2  3.0     2  29.2       2  70000.0             2           1
3  4.0     3  40.0       3  61700.0             5           0
4  5.0     4  22.0       1  55000.0             0           2
5  6.0     5  35.0       0  72000.0             1           2
6  6.0     5  35.0       3  72000.0             1           2
7  7.0     6  29.0       0  49000.0             1           1
9  9.0     5  31.0       4  57000.0             6           3

In [ ]:
if 'joining date' in df.columns:
    df['joining date'] = pd.to_datetime(df['joining date'], errors='coerce')

In [ ]:
print("\nFinal cleaned data:")
print(df.info())
print(df.head(11))

Final cleaned data:
<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 0 to 9
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            9 non-null      float64
 1   Name          9 non-null      int64
 2   Age           9 non-null      float64
 3   Gender        9 non-null      int64
 4   Salary        9 non-null      float64
 5   Joining_Date  9 non-null      int64
 6   Department    9 non-null      int64
dtypes: float64(3), int64(4)
memory usage: 576.0 bytes
None
    ID  Name   Age  Gender   Salary  Joining_Date  Department
0  1.0     0  25.0       1  50000.0             4           1
1  2.0     1  30.0       3  60000.0             3           2
2  3.0     2  29.2       2  70000.0             2           1
3  4.0     3  40.0       3  61700.0             5           0
4  5.0     4  22.0       1  55000.0             0           2
5  6.0     5  35.0       0  72000.0             1           2
6  6.0     5  35.0       3  72000.0             1           2
7  7.0     6  29.0       0  49000.0             1           1
9  9.0     5  31.0       4  57000.0             6           3

In [ ]:
df.to_csv("cleaned_data.csv", index=False)
print("\nData cleaning completed. Cleaned dataset saved as 'cleaned_data.csv'.")

Data cleaning completed. Cleaned dataset saved as 'cleaned_data.csv'.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')